login page
<% if @user && @user.errors.full_messages.length > 0 %>
  <h3><% @user.errors.full_messages.to_sentence %></h3>
<% end %>

<form action="/login" method="post">
  <div class="">
    <label for="login-form-username">Username: </label>
    <input type="text" name="user[username]" value="" id="login-form-username">
  </div>
  <div class="">
    <label for="login-form-password">Password: </label>
    <input type="text" name="user[password]" value="" id="login-form-password">
  </div>
  <input type="submit" name="" value="login!">
</form>