<h4>Edit Current User</h4>
  <form action="/users/<%= current_user.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
    <div>
      <label for="location">Location: </label>
      <input type="text" name="user[location]" value= "<%= current_user.location %>" id="location">
    </div>
    <!--<div>
      <label for="favorite car">Favorite Car -  </label> 
      <label for="favorite year">Favorite Year of Car: </label>
      <input type="text" name="user.cars[favorite_car]" value= "<% current_user.favorite_cars.map { |car| car.year }%>" id="all time favorite year of car">
      <label for="favorite make">Favorite Make of Car: </label>
      <input type="text" name="user.cars[favorite_car]" value= "<% current_user.favorite_cars.map { |car| car.make } %>" id="all time favorite make of car">
      <label for="favorite model">Favorite Model of Car: </label>
      <input type="text" name="user.cars[favorite_car]" value= "<% current_user.favorite_cars.map { |car| car.model }%>" id="all time favorite model of car">
    </div>-->
    <div>
      <label for="username">Username: </label>
      <input type="text" name="user[username]" value= "<%= current_user.username %>" id="username">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="user[password]" id="password">
    </div>
  <% if current_user.id == @user.id %>
    <input type="submit" value="Edit User">
  <% end %>
  </form>
  <a href="/users">Back To Users</a>