<div class="">
  <h3>User Info</h3>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>Location: <%= @user.location %></li>
    <li>Favorites: <%= @user.favorites %></li>
    <li><a href= "/users/<%= current_user.id %>/edit">Edit User</a></li>
  </ul>

  