<h3>Edit Car Listing</h3>
  <form action="/cars/<%= @cars.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <div>
      <label for="year">Year: </label>
      <input type="text" name="car[year]" id="year">
    </div>
    <div>
      <label for="make">Make: </label>
      <input type="text" name="car[make]" id="make">
    </div>
    <div>
      <label for="model">Model: </label>
      <input type="text" name="car[model]" id="model">
    </div>
    <div>
      <label for="location">Location: </label>
      <input type="text" name="car[location]" id="location">
    </div>
    <div>
      <label for="price">Price: </label>
      <input type="text" name="car[price]" id="price">
    </div>
    <div>
      <label for="status">Status-For Sale: </label>
      <input type="radio" id="car[status]" name="car[status]" value="true">
      <label for="status">Status-Not For Sale: </label>
      <input type="radio" id="car[status]" name="car[status]" value="false">
    </div>
    <input type="submit" value="Edit Car">
    <input type="reset">
  </form>
  <a href= "/cars<%= current_user %>">BACK</a>
  <a href= "/cars/<%= @cars.id %>/edit">EDIT CAR</a>