<div class="home-page-bkgd jumbotron">
  <div class="home-page-container">
    <div class="text-center">
      <h1 class="display-3"><strong>Car Collector</strong></h1>
        <p>Keep track of all your favorite cars, whether they are yours or on your wish list!</p>
          <ul>

            <% @users.each do |user| %>
              <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
            <% end %>

          </ul>
    </div>
  </div>
</div>