<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car Collector - Users</title>
  </head>
  <body>
    <div class="">
      <h4> current_user: <%= current_user ? current_user.name : "no one logged in" %></h4>
    </div>
  <nav>
    <ul>
      <% if logged_in? %>
      <li><form class=""action="/logout" method="post">
      <input type="submit" name="" value="log out">
      </form></li>

      <% else %>
        <li><a href= "/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>

      <% end %>
      <li><a href="/users">View All Users</a></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>